@font-face {
  font-family: "Kemco";
  src: url("../../data/font/Kemco Pixel Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DePixelKlein";
  src: url("../../data/font/DePixelKlein.ttf") format("truetype");
}

.kemco-font {
  font-family: "Kemco", sans-serif;
  font-weight: bold;
}
.font-outline {
  text-shadow: 2px 7px #28248c;
}
.DePixelKlein {
  font-family: "DePixelKlein", sans-serif;
}

.main-container {
  background: rgba(64, 11, 99, 0.897);
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

/* admin login button */
.btn-admin {
  background: green;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: inherit;
  margin: 0.5rem;
  width: 90px;
  padding: 6px;
}
/* buttons */
.login-register-btn {
  font-family: Kemco;
  background-color: yellow;
  color: #28248c;
  clip-path: polygon(
    0 4px,
    4px 4px,
    4px 0,
    calc(100% - 4px) 0,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 4px)
  );
  padding: 13px 13px;
  box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.3),
    /* Inner shadow top-left */ inset 4px 4px 0px rgba(255, 255, 255, 0.2),
    /* Inner shadow bottom-right */ 4px 4px 6px rgba(0, 0, 0, 0.4),
    /* Bottom-right shadow */ 0px 4px 6px rgba(0, 0, 0, 0.4); /* Bottom shadow */
}

/* login-container centered within popup */
.login-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 100%;
}

/* popup form container */
.form-container {
  color: yellow;
  z-index: 9999;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  position: absolute;
  background-color: #44049c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 430px;
}

.form-container input {
  color: rgb(32, 32, 30);
  font-family: inherit;
  font-size: 19px;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.form-container button {
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
}

/* popup-overlay to center the login form */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
/* user container */
.user-con {
  border: 2px solid violet;
  color: yellow;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.user-img-con {
  width: 20px;
  height: 20px;
}
.user-img-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* btn for login/registration */

.error-text {
  color: yellow;
  background-color: rgb(170, 22, 11);
}
.success-text {
  color: green;
  font-weight: bold;
  background-color: yellow;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
}
