/* User Dashboard styles */
pre {
  color: rgb(0, 255, 221);
  line-height: 40px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}
.swal-btn {
  background-color: blueviolet;
  color: rgb(207, 207, 17);
}
/* sweet alert custom */
@font-face {
  font-family: "Retro Gaming";
  src: url("../../../../data/font/Retro\ Gaming.ttf");
}
.swal-font {
  font-family: "Retro Gaming";
}

.retro-gaming-font {
  font-family: "Retro Gaming";
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
