/* Main content styles */

.blur {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(0.1px);
  -webkit-backdrop-filter: blur(0.1px);
}
pre {
  color: rgb(0, 255, 221);
  line-height: 40px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}
/* sweet alert custom */
@font-face {
  font-family: "Retro Gaming";
  src: url("../../../../data/font/Retro\ Gaming.ttf");
}
.swal-font {
  font-family: "Retro Gaming";
}

.retro-gaming-font {
  font-family: "Retro Gaming";
}
