@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom cursor */
.custom-cursor {
  cursor: url("/cursor.cur"), auto;
}
/* font */
.jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.ground-repeat {
  background-image: url("/landscape.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;
}
.pixels {
  background-image: url("https://cdn.prod.website-files.com/62be13fdb8a06d0f7cf4aa7b/62c35aa508a1f970d5fb8420_tile-intro-top%402x.png");
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-size: 40px;
  background-attachment: scroll;
  padding-bottom: 0;
}
